Standard: An Implementation of the JSP[tm] Standard Tag Library (JSTL)
Release: 1.0

BINARY DISTRIBUTION

Thanks for downloading this release of the Standard taglib, an implementation
of JSTL. JSTL is an effort of the Java Community Process (JCP) and
comes out of the JSR-052 expert group. For more information on JSTL,
please go to http://java.sun.com/products/jsp/jstl.

We hope you find the tags, documents, and examples in this binary
distribution of interest.

The following two files are standalone web applications (WARs) that are
designed to work out of the box in order to help you learn JSTL:

   standard-doc.war                Documentation
   standard-examples.war           Simple examples of JSTL tags

To use this distribution with your own web applications, simply copy the JAR
files in the 'lib' directory to your application's WEB-INF/lib directory.
Then, import JSTL into your pages with the following directives:

  CORE LIBRARY
    EL:  <%@ taglib prefix="c" uri="http://java.sun.com/jstl/core" %>
    RT:  <%@ taglib prefix="c_rt" uri="http://java.sun.com/jstl/core_rt" %>

  XML LIBRARY
    EL:  <%@ taglib prefix="x" uri="http://java.sun.com/jstl/xml" %>
    RT:  <%@ taglib prefix="x_rt" uri="http://java.sun.com/jstl/xml_rt" %>

  FMT LIBRARY 
    EL:  <%@ taglib prefix="fmt" uri="http://java.sun.com/jstl/fmt" %>
    RT:  <%@ taglib prefix="fmt_rt" uri="http://java.sun.com/jstl/fmt_rt" %>

  SQL LIBRARY
    EL:  <%@ taglib prefix="sql" uri="http://java.sun.com/jstl/sql" %>
    RT:  <%@ taglib prefix="sql_rt" uri="http://java.sun.com/jstl/sql_rt" %>

Please join the taglibs-user@jakarta.apache.org mailing list if you have
general usage questions about JSTL.

Enjoy!

  -- Shawn Bayern <bayern@essentially.net>
     on behalf of JSR-052 (JSTL) Expert Group
