<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <description>
        Examples for the 'standard' taglib (JSTL)
    </description>

    <listener>
      <listener-class>org.apache.taglibs.standard.examples.startup.Init</listener-class>
    </listener>

    <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <taglib>
        <taglib-uri>/jstl-examples-taglib</taglib-uri>
        <taglib-location>/WEB-INF/jstl-examples.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://jakarta.apache.org/taglibs/standard/scriptfree</taglib-uri>
        <taglib-location>/WEB-INF/scriptfree.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://jakarta.apache.org/taglibs/standard/permittedTaglibs</taglib-uri>
        <taglib-location>/WEB-INF/permittedTaglibs.tld</taglib-location>
    </taglib>

</web-app>
