<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <description>
        Examples for the 'standard' taglib (JSTL)
    </description>

    <!-- Modify this context parameter to set a new class to be the default
         expression language for the application. -->
    <!-- We use the default EL defined in the JSTL specification
    <context-param>
        <param-name>javax.servlet.jsp.jstl.temp.ExpressionEvaluatorClass</param-name>
        <param-value>org.apache.taglibs.standard.lang.spel.Evaluator</param-value>
    </context-param>
    -->

    <listener>
      <listener-class>org.apache.taglibs.standard.examples.startup.Init</listener-class>
    </listener>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/core</taglib-uri>
        <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/core-rt</taglib-uri>
        <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/xml</taglib-uri>
        <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/xml-rt</taglib-uri>
        <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/fmt</taglib-uri>
        <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/fmt-rt</taglib-uri>
        <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/sql</taglib-uri>
        <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://java.sun.com/jstl/ea/sql-rt</taglib-uri>
        <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>/jstl-examples-taglib</taglib-uri>
        <taglib-location>/WEB-INF/jstl-examples.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://jakarta.apache.org/taglibs/standard/scriptfree</taglib-uri>
        <taglib-location>/WEB-INF/scriptfree.tld</taglib-location>
    </taglib>

    <taglib>
        <taglib-uri>http://jakarta.apache.org/taglibs/standard/permittedTaglibs</taglib-uri>
        <taglib-location>/WEB-INF/permittedTaglibs.tld</taglib-location>
    </taglib>

</web-app>
